.App {
  /* text-align: center; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* background-color: #343434; */
  font-size: 52px; 

  
}
.rate{
  font-size: 52px; 
}






